<a routerLink="/" routerLinkActive="active" class="profile-link">
  <nav class="navbar">
  <div class="profile">

    <div class="logo-title">
      <img src="assets/profile.jpeg" alt="Logo" class="logo-image">
      <span class="logo-text">Jeverson Oliveira</span>
    </div>
    <div class="logo-subtitle">
      <p>Full Stack Developer</p>
    </div>  
  </div>
  <ul class="nav-links" [class.open]="menuOpen">
    <li><a routerLink="/projetos" routerLinkActive="active"><ion-icon name="code-slash-outline"></ion-icon>Projetos</a></li>
    <li><a routerLink="/sobre" routerLinkActive="active"><ion-icon name="person-outline"></ion-icon> Sobre mim</a></li>
    <li><a routerLink="/contato" routerLinkActive="active"><ion-icon name="file-tray-full-outline"></ion-icon>Contato</a></li>
  </ul>
    <button class="hamburger" (click)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
   </button>
    
    
  
</nav>
</a>


