<header class="navbar">
  <div class="profile">
    <div class="logo-title">
      <img src="assets/profile.jpeg" alt="Logo" class="logo-image">
      <span class="logo-text">Jeverson Oliveira</span>
    </div>
    <div class="logo-subtitle">
      <p>Full Stack Developer</p>
    </div>  
  </div>
  <nav class="nav-links">
    <a routerLink="/projetos" routerLinkActive="active"><ion-icon name="code-slash-outline"></ion-icon>Projetos</a>
    <a routerLink="/sobre" routerLinkActive="active"><ion-icon name="person-outline"></ion-icon> Sobre mim</a>
    <a routerLink="/contato" routerLinkActive="active"><ion-icon name="file-tray-full-outline"></ion-icon>Contato</a>
  </nav>
</header>

