<div class="links-sociais">
      <a href="https://www.linkedin.com/in/jeverson-oliveira/" target="_blank"
          ><ion-icon name="logo-linkedin"></ion-icon
        ></a>
        <a href="https://github.com/devjeverson" target="_blank">
          <ion-icon name="logo-github"></ion-icon
        ></a>
        <a href="https://www.youtube.com/" target="_blank"
          ><ion-icon name="logo-youtube"></ion-icon
        ></a>
          <!---<a href="https://wa.me/5511910157408" target="_blank"
          ><ion-icon name="logo-whatsapp"></ion-icon></a> -->   
</div>

