.links-sociais {
  display: flex;
  padding: 15px 0;
  font-size: 24px;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.links-sociais a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 50%;
  color: #0275f8;
  font-size: 2rem;
}

.links-sociais a:hover {
  background: var(--highlight-color);
}

@media (max-width: 700px) {
  :host,
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 50px !important;
    min-height: 44px !important;
    max-height: 85px !important;
    background: #000000;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 !important;
    margin: 0 !important;
  }

  .links-sociais {
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0.7rem;
    font-size: 18px;
  }
  .links-sociais a {
    padding: 4px;
    font-size: 1.3rem;
  }
}



