<section class="about-me-section" id="sobre-mim">
  <h2>Sobre Mim</h2>
    <article>
      <p>Olá, meu nome é Jeverson Oliveira, sou Desenvolvedor de Sistemas e estudante de Engenharia de Software na USP/Esalq. Definitivamente apaixonado por Tecnologia, Infraestrutura e Cyber Segurança.</p>

      <p>Possuo experiência prática de 3 anos em T&O, e deste período tive o privilégio de estagiar por 1 ano e meio no F1RST | Santander Brasil. Lá atuei com suporte técnico, análises, desenvolvimento e manutenção de aplicações web usando principalmente o framework Angular e o SharePoint para soluções em Front-end.Já no Back-End participei de times que entregaram soluções em Java (com Spring Boot ) para criação e manutenção de APIs e código legado. Com apoio dos gestores e desenvolvedores da área de Canais Internos reconhecido pelo grupo Santander Brasil como um "Super Estagiário" em 2024, graças às certificações, nota de desenvolvimento e entregas conquistadas.</p>

      <p>Atualmente tenho trabalhado como analista e desenvolvedor de software sob encomenda para algumas empresas. Nesse peíodo venho utilizando outras tecnologias,além das que possuo mais proficiência, particularmente tenho usado Python em automações, React em alguas tasks de Font-end, SQL em tarefas que o desafio exige interação com baco de Dados, e ainda o Google Anlytics, para o envio de métricas de usabilidade.</p>

      <p>Dedico parte do meu tempo livre em projetos acadêmicos de código livre, principalmente para a comunidade do Ubuntu, tanto para testar conceitos na pratica, mas principalmente por acreitar na democartizaçõ do conhecimento que o unviverso do Open Source posibilita.</p>

      <p>Dito isso, como posso ajudar você, seu projeto ou sua empresa a alcançar seus objetivos?</p>
    </article> 
</section>

