<section class="about-me-section" id="sobre-mim">
  <h2>Sobre Mim</h2>

  <p>
    Sou <strong>Jeverson Oliveira</strong>, desenvolvedor <span class="highlight">Full Stack</span>. formado em Analise e Desenvolviemto de Sistemas pela <span class="highlight">Universidade Anhembi Morumbi (UAM) </span> e com experiência em construção de soluções digitais robustas, escaláveis e centradas no usuário. Minha jornada na tecnologia começou com a curiosidade em entender como as coisas funcionam ― e hoje, canalizo essa curiosidade para criar sistemas que conectam pessoas, dados e ideias.
  </p>

  <p>
  Atuei como <strong>estagiário de desenvolvimento</strong> no <strong>grupo Santander</strong>, onde tive contato com práticas modernas de engenharia de software e desenvolvimento web. Além disso, atuo como <strong>freelancer</strong> em projetos diversos, desenvolvendo aplicações completas com foco em performance, usabilidade e boas práticas. Essa combinação de experiências me permite lidar com diferentes contextos e entregar soluções alinhadas às necessidades do mercado.
</p>

  <p>
    Meu stack principal inclui: <span class="highlight">Java com Spring Boot</span> no back-end, <span class="highlight">Angular</span> no front-end, além de conhecimentos sólidos em <span class="highlight">AWS</span>, <span class="highlight">DevOps</span>, <span class="highlight">GitLab</span>, <span class="highlight">SQL</span> e <span class="highlight">Docker</span>. Também exploro o desenvolvimento mobile com <strong>Flutter</strong>, e tenho boa base em <strong>Python</strong>.
  </p>

  <p>
    Acredito que a tecnologia deve ser funcional e elegante. Por isso, mantenho meu código limpo, modular e voltado à performance. Busco aplicar boas práticas como <strong>SOLID</strong>, <strong>Clean Code</strong> e <strong>integração contínua</strong> em meus projetos. 
  </p>

  <p>
    Em resumo: sou um profissional em formação contínua, movido por desafios e guiado por um propósito — transformar código em valor para as pessoas e negócios. Vamos construir algo incrível juntos?
  </p>
</section>

