:host {
  display: block;
  height: 100%;
  min-height: 80vh;
  background: #111;
}

.about-me-section {
  padding: 3.5rem;
  background-color: #0d0d0d;
  color: #e5e5e5;
}

h2 {
  font-size: 2.4rem;
  color: #0275f8;
  margin-bottom: 1.5rem;
  border-left: 6px solid #0275f8;
  padding-left: 1rem;
}
p {
  font-size: 20px;
  line-height: 1.8;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.highlight {
  color: #0275f8;
  font-weight: 600;
}

@media (max-width: 768px) {

.about-me-section {
  padding: 1.8rem;
}
    

h2 {
    font-size: 1.8rem;
}

p {
    font-size: 1.3rem;
  }
}

