:host {
  display: block;
  height: 100%;
  min-height: 80vh;
  background: #111;
}

.contact-section {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 2rem;
  background-color: #111;
  color: #fff;
  min-height: 0;
  box-sizing: border-box;
  background: transparent;
  margin-top: 5rem; 
}

h2 {
   font-size: 2rem;
   color: #33ff33;
   margin-bottom: 2rem;
   border-left: 6px solid #33ff33;
   padding-left: 1rem;
   
}

.form-wrapper {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
} 

input,
textarea {
   background: #1a1a1a;
   border: 1px solid #333;
   color: #fff;
   padding: 0.8rem;
   border-radius: 5px;
   font-size: 1rem;

   &:focus {
      outline: none;
      border-color: #33ff33;
      box-shadow: 0 0 5px #33ff33;
   }
}

textarea {
   resize: vertical;
   min-height: 150px;
}

button {
   background: #050505;
   color: #33ff33;
   font-size: 1rem;
   padding: 0.8rem;
   font-weight: bold;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   border: #28cc28;

   &:hover {
      background: #28cc28;
      box-shadow: 0 0 10px #33ff33;
   }

   &:disabled {
      background: #000000;
      cursor: not-allowed;
      border: #33ff33 solid 1px;
   }
}

.mensagem-sucesso {
      color: #33ff33;
      margin-top: 1rem;
      font-weight: 600;
}

@media (max-width: 700px) {
   .contact-section {
      margin-top: 2rem; 
      padding: 1rem;
   }

   h2 {
      font-size: 1.5rem;
   }

   input,
   textarea {
      font-size: 0.9rem;
   }

   button {
      font-size: 0.9rem;
   }
}


