<div class="main">
  <div class="content-wrapper">
    <div class="typing-container">
      <p class="typing-text"><span class="text">Todo grande projeto começa com uma boa linha de código. Aqui estão os meus...</span></p>
    </div>
    <div class="card-row">
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/frontend.png" alt="frontend Image" class="portfolio-image">
            <p class="title">Front-End</p>
            
          </div>
          <div class="flip-card-back">
            <a routerLink="/component-front" class="projects">Ver+</a>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/backend.png" alt="backend Image" class="portfolio-image">
            <p class="title">Back-End</p>
         
          </div>
          <div class="flip-card-back">
             <a routerLink="/component-back" class="projects">Ver+</a>
          </div>
        </div>
      </div>

      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="assets/open-source.png" alt="open source Image" class="portfolio-image">
            <p class="title">Open Source</p>
          </div>
          <div class="flip-card-back">
             <a routerLink="/component-open" class="projects">Ver+</a>
          </div>
        </div>
      </div>
    </div>
  </div>
    
</div>

  

  
  

  


