.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  height: 100vh;
  background: #111;
  text-align: center;
}

.typing-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color: #00ffcc;
  border-right: 2px solid #32f502;
  white-space: nowrap;
  overflow: hidden;
  width: fit-content;
  animation: blink 0.7s step-end infinite;
}

.text {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #32f502;
  white-space: nowrap;
  animation: typing 4s steps(50, end) forwards;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
